<div class="row">

    <%= render(partial: 'layouts/leftsidebar',locals: {user: @user}) %>

    <div class="col-md-8 offset-md-1">

      <h2 class="mt-4 mb-2">Book detail</h2>

      <table class="table table-word-wrap">
        <tbody>
          <% user = User.find(@book.user_id) %>
          <tr>
            <td>
              <%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg",size: "50x50") %><br>
              <%= link_to(user.name,user_path(user.id)) %>
            </td>
            <td><%= link_to(@book.title,book_path(@book.id)) %></td>
            <td><%= @book.body %></td>
            <% if user_signed_in? && current_user.id == @book.user_id %>
              <td><%= link_to("Edit",edit_book_path(@book.id),class: "btn btn-success") %></td>
              <td><%= link_to("Destroy",book_path(@book.id),method: :delete,data:{confirm: "本当に消しますか？"},class: "btn btn-danger") %></td>
            <% end %>
            </tr>
        </tbody>
      </table>

    </div>

  </div>